---
layout: page
tagline:
---
  <h1>Welcome to Pharo catalog</h1>
  <p>
  <em>The Pharo Catalog is an online catalog for <a href="https://www.pharo.org"></a>Pharo</a> of loadable items defined in <a href="catalog.json">catalog.json</a></em>
  </p>
  <h2>
    Catalog contents:
  </h2>

  {% if paginator.total_pages > 1 %}
  <nav>
    <ul class="pagination">
       <!-- previous page -->
       {% if paginator.previous_page %}
          <li class="page-item">
            <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous</a>
          </li>
       {% else %}          
          <li class="page-item disabled" aria-current="page">
            <span class="page-link">&laquo; Previous</span>
          </li>
       {% endif %}

       <!-- list of pages -->
       {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ page }}</span>
            </li>
          {% elsif page == 1 %}
            <li class="page-item">
              <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            </li>  
          {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            </li>
          {% endif %}
       {% endfor %}
      
      <!-- next page -->
      <li class="page-item">
        {% if paginator.next_page %}
          <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
          <span>Next &raquo;</span>
        {% endif %}
      <li>
    </ul>
  </nav>

  {% endif %}

  <hr/>
 

  {% for entry in paginator.posts %}
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ entry.title }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">{{ entry.category }}</h6>
        <p class="card-text">{{ entry.description }}</p>
        <a href="{{ site.BASE_PATH }}{{ entry.url }}" class="card-link">Details</a> <a href="{{ entry.homepage }}" class="card-link">Homepage</a> 
      </div>
    </div>         
  {% endfor %}
